---
layout: home
---

<section id="about">
	<div class="container">
	  <div class="avatar">
		<img class="img-circle" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Responsive image">
	  </div>
	  <h3>Olá! Meu nome é <strong>{{ site.author }}</strong> e sou Analista de Sistemas/Gestor de TI e Pós-graduando em Ciência de Dados e Big Data Analytics.</h3>

	  <!-- <h3>Veja um pouco sobre <a href="{{ site.baseurl }}/projects.html"> meus projetos públicos</a>.</h3> -->
	  <h3>Para maiores informações sobre minha vida acadêmica e profissional <a href="/vitae"> meu currículo</a>.</h3>
	  <!-- <h3>Fale comigo <a href="http://twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a> ou por <a href="mailto:{{ site.email }}">email</a>.</h3> -->
	  {% include social.html %}
	</div>
	<div class="container">
		<div class="row">
		        <div class="col-md-4" style="text-align:left">
		          <h2>Últimos Posts</h2>
		          {% include lastposts.html %}
		        </div>
		        <div class="col-md-4" style="text-align:left">

							<h2>Tags</h2>
							{% assign tags = site.tags | sort %}
							{% for tag in tags %}
							 <span class="site-tag">
							    <a href="/tag/{{ tag | first | slugify }}/"
							        style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
							            {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
							    </a>
							</span>
							{% endfor %}

					 </div>
		        <div class="col-md-4" style="text-align:left">
							<h2>Tags</h2>
		          {% include links.html %}
		        </div>
		</div>
	</div>


</section>
