<section class="thirteen columns">
    <h1>Formação</h1>
    <article>
        <header>
            <h1>Graduação: Gestão da Tecnologia da Informação</h1>
            <span>Universidade Estácio de Sá</span>
            <span><address>Rio de Janeiro, Brasil</address><time>2016</time></span>
        </header>
        <p>
            <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Graduação: Análise e Desenvolvimento de Sistemas</h1>
            <span>Instituto Infnet</span>
            <span><address>Rio de Janeiro, Brasil</address><time>2007 to 2009</time></span>
        </header>
        <p>
            <em>curso não concluído</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Técnico: Eletrotécnica</h1>
            <span>Escola Técnica Estadual Affonsina Mazillo</span>
            <span><address>Rio de Janeiro, Brasil</address><time>2003 a 2004</time></span>
        </header>
        <p>
            <em></em>
        </p>
    </article>
    <article>
        <header>
            <h1>Técnico: Processamento de Dados</h1>
            <span>Escola Técnica Virgínia Patrick</span>
            <span><address>Rio de Janeiro, Brasil</address><time>1994 to 1997</time></span>
        </header>
        <p>
            <em></em>
        </p>
    </article>

</section>
