<section class="thirteen columns">
    <h1>Experiência Profissional</h1>
    <article>
        <header>
            <h1>Analista de Sistemas/Desenvolvedor</h1>
            <span>Tribunal de Contas do Estado do Rio de Janeiro <address>, Rio de Janeiro, Brasil</address><time> 2009 a ATUAL</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Analista de Sistemas/Desenvolvedor Web</h1>
            <span>Bradesco Seguros e Previdência (Stefanini IT Solutions)<address>, Rio de Janeiro, Brasil</address><time> 2008 a 2009</time></span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Desenvolvedor</h1>
            <span>Hemorio (Sofis)<address>, Rio de Janeiro, Brasil</address><time> 2013 a 2008</time></span>
        </header>
        <p>Desenvolvimento de softwares de apoio hospitalar utilizando tecnologias .Net (Vb.Net) para aplicativos Desktop, Webservices e Windows Services. Outras tecnologias utilizadas: PostgreSQL, SQLServer, Visual Fox Pro.</p>
    </article>
    <article>
        <header>
            <h1>Operador de Subestações Elétricas</h1>
            <span>Light SESA<address>,Rio de Janeiro, Brasil</address><time> 1998 a 2003</time></span>
        </header>
        <p>Operação e manobra em equipamentos de alta e média tensão</p>
    </article>

</section>
