<section class="thirteen columns">
    <h1>Experiência Profissional</h1>
    <article>
        <header>
            <h1>Analista de Sistemas/Desenvolvedor</h1>
            <span>Tribunal de Contas do Estado do Rio de Janeiro <address>, Rio de Janeiro, Brasil</address><time> 2009 a ATUAL</time></span>
        </header>

        <div class="atividadesdesenvolvidas">
          Análise, desenvolvimento e manutenção de sistemas em Java e Microsoft .Net/(C# e VB.Net)
          para Web MVC/WebForms/Desktop/Serviços utilizando os principais softwares, ferramentas e metodologias de mercado,
           <br/>
          Manutenção de sistemas Moodle (AVA) e Liferay (SCM).
          Utilização de análise orientada a objetos (UML), banco de dados relacionais
          (PostgreSQL, SQL Server e MySQL) e Microsoft Report Server. Criação de aplicações e serviços de integração inter-sistemas. Gerência de projetos e controle de qualidade.
        </div>
    </article>
    <article>
        <header>
            <h1>Analista de Sistemas/Desenvolvedor Web</h1>
            <span>Bradesco Seguros e Previdência (Stefanini IT Solutions)<address>, Rio de Janeiro, Brasil</address><time> 2008 a 2009</time></span>
        </header>
        <div class="atividadesdesenvolvidas">
          Análise, desenvolvimento e manutenção de sistemas em Java Web (Struts) e ASP3.
          Utilização de análise orientada a objetos (UML),
          banco de dados relacionais (IBM DB2 e SqlServer) e COBOL CICS.</div>
    </article>
    <article>
        <header>
            <h1>Desenvolvedor</h1>
            <span>Hemorio (Sofis)<address>, Rio de Janeiro, Brasil</address><time> 2003 a 2008</time></span>
        </header>
        <div class="atividadesdesenvolvidas">
          Desenvolvimento de softwares de apoio hospitalar utilizando tecnologias .Net (Vb.Net) para aplicativos Cliente-Servidor, Webservices e Windows Services. Outras tecnologias utilizadas: PostgreSQL, SQLServer, Visual Fox Pro.
        </div>
    </article>
    <!--
    <article>
        <header>
            <h1>Operador de Subestações Elétricas</h1>
            <span>Light SESA<address>,Rio de Janeiro, Brasil</address><time> 1998 a 2003</time></span>
        </header>
        <p>Operação e manobra em equipamentos de alta e média tensão</p>
    </article>
  -->
</section>
