<section class="thirteen columns">
    <h1>Cursos na Área</h1>
    <article>
        <header>
            <h1>Desenvolvimento Movel com iOS 5</h1>
            <span><address>Caelum, Rio de Janeiro, Brasil</address><time>2012</time></span>
        </header>
        <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p>
    </article>
    <article>
        <header>
            <h1>Práticas Ágeis de Desenvolvimento de Software</h1>
            <span><address>Caelum, Rio de Janeiro, Brasil</address><time>2011</time></span>
        </header>
        <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p>
    </article>
    <article>
        <header>
            <h1>Gerenciamento Ágil de Projetos de Software com Scrum</h1>
            <span><address>Caelum, Rio de Janeiro, Brasil</address><time>2010</time></span>
        </header>
        <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p>
    </article>

    <article>
        <header>
            <h1>Programação Java</h1>
            <span><address>Orion Consultoria (Prof. Carlos Ribeiro), Rio de Janeiro, Brasil</address><time>2008</time></span>
        </header>
        <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p>
    </article>
    <article>
        <header>
            <h1>Sun Microsystems: Linguagem de Programação Java</h1>
            <span><address>Sun Microssystems do Brasil, Rio de Janeiro, Brasil</address><time>2003</time></span>
        </header>
        <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p>
    </article>
    <article>
        <header>
            <h1>ASP</h1>
            <span><address>Instituto Infnet, Rio de Janeiro, Brasil</address><time>2000</time></span>
        </header>
        <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p>
    </article>
    <article>
        <header>
            <h1>Oracle Education Course: Programação Java</h1>
            <span><address>Instituto Infnet, Rio de Janeiro, Brasil</address><time>2000</time></span>
        </header>
        <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p>
    </article>
    <article>
        <header>
            <h1>Oracle Master DBA</h1>
            <span><address>AOPEC, Rio de Janeiro, Brasil</address><time>2000</time></span>
        </header>
        <p>
            Fundraiser: Lorem adipiscing ei eam, eros conceptam maiestatis ne sea.
        </p>
    </article>
</section>
