<section class="thirteen columns">
    <h1>Cursos na Área</h1>




<article>
    <header>
        <h1>Building a Consistent RESTful API with OData V4 in ASP.NET</h1>
        <span><address>Pluralsight, Online, EUA</address><time>2016</time></span>
    </header>
</article>
<article>
    <header>
        <h1>Using OAuth to Secure Your ASP.NET API</h1>
        <span><address>Pluralsight, Online, EUA</address><time>2016</time></span>
    </header>
</article>

    <article>
        <header>
            <h1>Desenvolvimento de Aplicativos Web</h1>
            <span><address>ECG Escola de Contas e Gestão do TCE-RJ, Rio de Janeiro, Brasil</address><time>2015</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Desenvolvimento Java para CMS Liferay</h1>
            <span><address>Mindtec (in company - TCERJ), Rio de Janeiro, Brasil</address><time>2014</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Desenvolvimento Movel com iOS 5</h1>
            <span><address>Caelum, Rio de Janeiro, Brasil</address><time>2012</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Práticas Ágeis de Desenvolvimento de Software</h1>
            <span><address>Caelum, Rio de Janeiro, Brasil</address><time>2011</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Gerenciamento Ágil de Projetos de Software com Scrum</h1>
            <span><address>Caelum, Rio de Janeiro, Brasil</address><time>2010</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Programação Java</h1>
            <span><address>Orion Consultoria (Prof. Carlos Ribeiro), Rio de Janeiro, Brasil</address><time>2008</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Sun Microsystems: Linguagem de Programação Java</h1>
            <span><address>Sun Microssystems do Brasil, Rio de Janeiro, Brasil</address><time>2003</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>ASP</h1>
            <span><address>Instituto Infnet, Rio de Janeiro, Brasil</address><time>2000</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Oracle Education Course: Programação Java</h1>
            <span><address>Instituto Infnet, Rio de Janeiro, Brasil</address><time>2000</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Oracle Master DBA</h1>
            <span><address>AOPEC, Rio de Janeiro, Brasil</address><time>2000</time></span>
        </header>
    </article>
</section>
