<section class="thirteen columns">
    <h1>Conhecimentos Relevantes</h1>
    <article>
        <header>
            <h1>Engenharia de Software & desenvolvimento web</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>AspNet MVC, C#, VB.Net, Linux</em>
        </p>
        <p>
          <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
          &nbsp;&nbsp;<em>Git, Team Foundation Server, SVN</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML, CSS3, Bootstrap, Javascript e jQuery</em>
        </p>
        <p>
          <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
          &nbsp;&nbsp;<em>Java, ASP3, SQLServer, PostgreSQL, MySQL</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>TDD</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>MongoDB, Express, Angular, NodeJS, Meteor</em>
        </p>
    </article>
</section>
<section class="thirteen columns">
    <h1>Certificações</h1>
    <article>
        <header>
            <h1>Microsoft 70-536</h1>
        </header>

    </article>
</section>
